/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  width: 1440px;
  height: 696px;
  background: #fff;
  padding: 24px 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.go-back-link {
  padding: 16px 24px;
  background-color: violet;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.go-back-link:hover {
  background-color: darkorchid;
}

.main-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-direction: column;
  padding-top: 170px;
}

.main-list-link {
  padding: 16px 24px;
  background-color: violet;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-link:hover {
  background-color: darkorchid;
}
